@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,600|Roboto:300,400,700');

/* Header, footer */

header, footer {
  background-color: #00ff0d;
}

/* Navbar */

.navbar-brand {
  font-size: 18px;
  font-weight: 600;
}

.nav-link, .dropdown-item {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

nav li {
  padding: 0 18px;
}

nav li.active, nav li.active:before {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Social icons */
footer i {
  color: #fff;
  padding: 0 12px;
}

/* Headings */

h1,h4 {
  font-family: 'Permanent Marker', cursive;
}
h2,h5 {
  font-family: 'Dancing Script', cursive;
}
h3,h6 {
  font-family: 'Abril Fatface', cursive;
}

/* Paragraph */

small,p {
  font-family: 'Sriracha', cursive;
}

/* Link & Buttons */

a.btn, button {
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}
option{
  font-family: 'Lobster Two', cursive;
}